header,
section {
  display: table;
  width: 100%;
}

header h1,
section h5,
footer h5 {
  color: white;
  color: white;
}

header {
  padding: 48px 10px 64px;
}

section {
  font-size: 1.2em;
  padding: 32px 0;
}

.fg-img {
  padding: 1em 0;
}

ul.bulleted li::before {
  color: #aaa;
  font-family: 'Material Icons', 'Roboto', sans-serif;
  margin-right: 5px;
}

ul.done li::before {
  content: 'done';
}

ul.search li::before {
  content: 'search';
}

@media (min-width: 600px) {
  header {
    padding-bottom: 256px;
  }

  section h5 {
    display: inline;
  }

  ul.bulleted {
    columns: 2;
  }
}
